.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@media (min-width: 601px) and (min-height: 701px) {
	.start-container {
		background-image: none;
	}
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* maps */
.red-background {
	background-color: #ff0000 !important;
}
.map {
	background-color: #f0ebeb;
}
.selected {
	background-color: #3ab54a !important;
	color: #ffffff;
}

.top-container {
	width: 100px;
	background-color: #cac4c4;
	border: 1px solid #fffbfb;
	box-sizing: border-box;
	height: 35px;
	display: flex;
	justify-content: center;
}

.column-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.column {
	flex-basis: calc(50% - 4px);
	background-color: #cac4c4;
	border: 1px solid #fffbfb;
	width: 100%;

	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10%;
}

.grid-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-top: 20px;
}
/* circulos */

.circle-container {
	display: flex;
	width: 120px;
	height: 120px;
	align-items: center;
	justify-content: space-between;
	background-color: #cac4c4;
	border-radius: 100%;
	border: 1px solid #fffbfb;
	position: relative;
	overflow: hidden;
}
.column1,
.column2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.circle {
	border: 1px solid #fffbfb;
	width: 100%;
	height: 60px;
	display: flex;

	align-items: center;
	justify-content: center;
}
.grid-circle {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

@keyframes rotateIcon {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.button-rotate:hover .icon-rotate {
	animation: rotateIcon 0.5s linear;
}
